.container {
    border-radius: 25px;
    background-color: skyblue;
    height: 80px;
    margin-bottom: 10px;
}

.searchBox {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 4;
}

.searchBox input {
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #c8cccf;
    height: 25px;
    width: 50px;
}

.searchBox button {
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 3px;
    cursor: pointer;
}

.searchBox input:hover {
    animation: fold 0.2s ease-in forwards;
}
.searchBox input:focus {
    width: 200px;
}

@keyframes fold {
    0% {width: 50px;}
    25% {width: 100px}
    50% {width: 150px;}
    75% {width: 175px;}
    100% {width: 200px;}
}

.container p {
    float: left;
    margin-left: 500px;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Microsoft YaHei';
    font-weight: lighter;
    color: white;
}